# Local Development
# API_KEY=not-needed-for-local-development
# BASE_URL=http://localhost:8321/v1
# MODEL_ID=ollama/qwen3:1.7b
# FIRECRAWL_API_KEY=api-key # from firecrawl
# GITHUB_TOKEN=github-token

# Openshift Deployment
# API_KEY=your-api-key
# BASE_URL=https://base-url.svc.cluster.local:8443/v1
# MODEL_ID=qwen3-17b
# CONTAINER_IMAGE=quay.io/username/image-name:latest

# Models as a Service
# API_KEY=your-api-key
# BASE_URL=base_url
# MODEL_ID=qwen36-27b

# OpenShift MLflow from pod
# MLFLOW_TRACKING_URI=https://mlflow.redhat-ods-applications.svc:8443/mlflow
# MLFLOW_EXPERIMENT_NAME=langgraph-react-agent
# MLFLOW_TRACKING_AUTH=kubernetes-namespaced
# MLFLOW_TRACKING_SERVER_CERT_PATH=/var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
